<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="main.css" />
  <link rel="stylesheet" href="../main.css" />
  <link rel="stylesheet" href="myparter.css" />
  <link rel="stylesheet" href="../mypartner.css" />
  <title>메인페이지</title>
</head>
<body>
  <div class="wrapper">
    <header>
        <img src="logo.png" alt="logo" class="image1">
        <span class="logo_frist" onclick="location.href='/'">PS</span>
        <span class="logo_second" onclick="location.href='/'">COFFEE SHOP</span>
      <div class="middle_bar">
        <span class="bar">회사소개</span>
        <span class="bar" onclick="location.href='/menu'">메뉴</span>
        <span class="bar">매장</span>
        <span class="bar" onclick="location.href='/partnerboardlist'">게시판</span>
        <span class="bar" onclick="location.href='/partnerlist'">제휴매장</span>
      </div>
      <div class="right_bar">
        <% if(loginId == undefined) { %>
          <span class="barR" onclick="location.href='/logi'">로그인</span>
          <span>|</span>
          <span class="barR" onclick="location.href='/signup'">회원가입</span>
        <% } else if(loginId != "admin") { %>
            <span class="barR" onclick="location.href='/logout'">로그아웃</span>
            <span>|</span>
            <span class="barR" onclick="location.href='/mypage'">마이페이지</span>
          <% }else{  %>
            <span class="barR" onclick="location.href='/logout'">로그아웃</span>
            <span>|</span>
            <span class="barR" onclick="location.href='/admin'">관리자 화면</span>
        <% } %>
      </div>
    </header>
    <%for(let i = 0; i < myPartnerList.length; i++) { %>
    <div class="info">
        <p>기본정보</p>
        <hr>
        <div class="photo">
            사진없음 공간
            <div>
                삭제 공간
            </div>
        </div>
        <span class="sp">제휴매장이름</span><input type="text" value="<%=myPartnerList[i].제휴매장이름 %>" disabled/><br>
        <span class="sp">주소</span><input type="text" value="<%=myPartnerList[i].제휴매장주소 %>" disabled/><br>
        <span class="sp">담당자</span><input type="text" value="<%=myPartnerList[i].제휴매장담당자 %>" disabled/><br>
        <span class="sp">연속1등급횟수</span><input type="text" value="<%=myPartnerList[i].연속1등급횟수 %>" disabled/><br>
        <span class="sp">전화번호</span><input type="text" value="<%=myPartnerList[i].제휴매장전화번호 %>" disabled/><br>
        <span class="sp">총계약일수</span><input type="text" value="<%=myPartnerList[i].총계약일수 %>" disabled/><br>
        <span class="sp">특별승급대상여부</span><span><%=special[i] %></span>
        <hr><br>
        <p>현재분기에 대한 정보</p>
        <div class="info_table">
            <table>
                <head>
                    <th>현재분기</th>
                    <th>누적 총 금액</th>
                    <th>예상금액</th>
                    <th>1등급까지필요금액</th>
                    <th>1등급시받을금액</th>
                </head>
                <tbody>
                    <td><%=mypartnerList.분기_분기번호 %></td>
                    <td><%=mypartnerList.분기별총수익 %></td>
                    <td><%=money%></td>
                    <td><%=5000000 - mypartnerList.분기별총수익 %></td>
                    <td><%=goodMoney%></td>
                </tbody>
            </table>
        </div>
    </div>
    <% } %>
    

  </div>
    <div class="bottom">
      <footer>
        <span class="logo_frist_bottom">PS</span>
        <span class="logo_second_bottom">COFFEE SHOP</span>
        <div class="bottom_middle">
          <span>법인명 : 주식회사 데이터베이스설계101  |  대표 : 조대수  |  주소 : 부산광역시 사상구 주례로 47 </span><br>
          <span>법인 사업자등록번호 : 2019-15-98 |  대표전화 : 1577-1577  |  이메일 : 20191598@g.dongseo.ac.kr </span><br><br>
          <span class="bottom_middle_content">COPYRIGHT ⓒ 2023 PS coffee Shop CHH All rights reserved.</span>
        </div>
        <span class="bottom_right">개인정보처리방침 | 이용약관</span>
      </footer>
    </div>
</body>
</html>