<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css" />
    <link rel="stylesheet" href="../main.css" />
    <link rel="stylesheet" href="../list.css" />
    <title>제휴매장 목록</title>
</head>
<body>
    <div class="wrapper">
        <header>
            <img src="logo.png" alt="logo" class="image1">
            <span class="logo_frist" onclick="location.href='/'">PS</span>
            <span class="logo_second" onclick="location.href='/'">COFFEE SHOP</span>
            <div class="middle_bar">
                <span class="bar">회사소개</span>
                <span class="bar" onclick="location.href='/menu'">메뉴</span>
                <span class="bar">매장</span>
                <span class="bar" onclick="location.href='/partnerboardlist'">게시판</span>
                <span class="bar" onclick="location.href='/partnerlist'">제휴매장</span>
            </div>
            <div class="right_bar">
                <span class="barR" onclick="location.href='/admin'">관리자 화면</span>
                <span>|</span>
                <span class="barR">로그인</span>
                <span>|</span>
                <span class="barR" onclick="location.href='/signup'">회원가입</span>
            </div>
        </header>
        <div class="list">
            <form action="/partnerlist" method="get">
                <input type="text" name="partnerSearch" placeholder="제휴매장 검색하기" value="<%= searchData %>">
                <input type="submit" value="검색">
            </form>
            <p style="text-align: right;">목록 (총 <%= data.length %>개)</p>
            <hr>
            <ul class="category">
                <li onclick="filterList('all')">전체</li>
                <li onclick="filterList('한식')">한식</li>
                <li onclick="filterList('중식')">중식</li>
                <li onclick="filterList('일식')">일식</li>
                <li onclick="filterList('양식')">양식</li>
                <li onclick="filterList('기타')">기타</li>
            </ul>
            <table style="text-align: center;">
                <thead>
                    <tr>
                        <th>제휴매장 항목번호</th>
                        <th>제휴매장 이름</th>
                        <th>제휴매장 위치</th>
                        <th>제휴매장 분류</th>
                        <th>제휴매장 평점</th>
                    </tr>
                </thead>
                <tbody>
                    <% let startIdx = (currentPage - 1) * itemsPerPage; %>
                    <% let endIdx = Math.min(startIdx + itemsPerPage, data.length); %>
                
                    <% for (let i = startIdx; i < endIdx; i++) { %>
                        <tr>
                            <td>
                                <%= i + 1 %>
                            </td>
                            <td>
                                <a href="/partnerlist/<%= data[i].사업자번호 %>"><%= data[i].제휴매장이름 %></a>
                            </td>
                            <td>
                                <%= data[i].제휴매장주소 %>
                            </td>
                            <td>
                                <%= data[i].제휴매장분류 %>
                            </td>
                            <td>
                                <%= data[i].제휴매장평점 %>
                                (<%= data[i].제휴매장리뷰갯수 %>)
                            </td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
        <hr>
        <div class="pagination">
            <% if (currentPage > 1) { %>
                <a href="/partnerlist?category=<%= category %>&page=<%= currentPage - 1 %>">&laquo; 이전</a>
            <% } %>
        
            <% for (let i = 1; i <= Math.ceil(data.length / itemsPerPage); i++) { %>
                <a href="/partnerlist?category=<%= category %>&page=<%= i %>" <% if (i == currentPage) { %>class="active"<% } %>><%= i %></a>
            <% } %>
        
            <% if (currentPage < Math.ceil(data.length / itemsPerPage)) { %>
                <a href="/partnerlist?category=<%= category %>&page=<%= currentPage + 1 %>">다음 &raquo;</a>
            <% } %>
        </div>
    </div>
    <div class="bottom">
        <footer>
            <span class="logo_frist_bottom">PS</span>
            <span class="logo_second_bottom">COFFEE SHOP</span>
            <div class="bottom_middle">
                <span>법인명 : 주식회사 데이터베이스설계101  |  대표 : 조대수  |  주소 : 부산광역시 사상구 주례로 47 </span><br>
                <span>법인 사업자등록번호 : 2019-15-98 |  대표전화 : 1577-1577  |  이메일 : 20191598@g.dongseo.ac.kr </span><br><br>
                <span class="bottom_middle_content">COPYRIGHT ⓒ 2023 PS coffee Shop CHH All rights reserved.</span>
            </div>
            <span class="bottom_right">개인정보처리방침 | 이용약관</span>
        </footer>
    </div>
    <script>
        function filterList(category) {
            // 선택한 카테고리 값을 쿼리스트링에 추가하여 현재 페이지로 리다이렉트
            window.location.href = `/partnerlist?category=${category}`;
        }
    </script>
</body>
</html>